:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* max-width: 400px;
  margin-left: auto;
  margin-right: auto; */
  
  --vh: 100%;
  height: calc(var(--vh, 1vh) * 100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
