
spring:
  profiles:
    active:
      - secret
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view : false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect


logging.level:
  org.hibernate.SQL: debug
